<a href="https://colab.research.google.com/github/bbwolcott/nyu-python-public-policy/blob/master/HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/My Drive/Data for Python/cleaned_311_data_hw3.csv', header='infer')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
# You can use pd.set_option() to make sure you see all the rows in your dataframe
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', -1)  # or 199

- **Step 1**. Create a function that checks each row in the 311 dataframe to see if the word "graffiti" is present in either the `complaint_type` value or `descriptor` value. Both columns may contain the word, so you should check both. If the word "graffiti" is found, the function should return the boolean value True. If "graffiti" is not found, the function should return the boolean value False.
  - Hint 1: The same way that we checked if the string "BRONX" existed in the `community_board` value in the `cb_counts` table during the lecture, you can check if "graffiti" exists in the `descriptor` or `complaint_type` values.
  - Hint 2: The `descriptor` column contains some null/NaN values. You'll have trouble running a function on these. Before your function checks if "graffiti" is present in `descriptor`, the function should make sure that a `descriptor` value exists using `pd.notnull(row.descriptor)`
  - Hint 3: Capitalization may be inconsistent. It could help to use `.lower()` to convert strings to lowercase.

In [0]:
# Create a function called grafitti return TRUE if grafitti is in descriptor or complaint_type
  def graffiti(row):
    if pd.notnull(row.descriptor):
      if 'graffiti' in row.descriptor.lower():
        return 'True'
      elif 'graffiti' in row.complaint_type.lower():
        return 'True'
      else:
        return 'False'

In [0]:
df['graffiti_flag'] = df.apply(graffiti, axis=1)
df.head()

- **Step 2**. Apply the function created in Step 1 to the 311 dataframe and create a new column called `graffiti_flag` that captures the output from the function.
  - Tip: There are two checks you can use to confirm that the function worked as expected.
    - Group by `graffiti_flag` to make sure there are records tagged as True.
    - Using only the records where `graffiti_flag` is True (`sample[sample.grafitti_flag]`), group by `complaint_type` to make sure that more than one `complaint_type` is included.

In [0]:
df_check1=df.groupby('graffiti_flag').size().reset_index(name='count')
df_check1

In [0]:
df_check2 = df[df.graffiti_flag=='True'].groupby('complaint_type').size().reset_index(name='count')
df_check2

- **Step 3**. Create another dataframe `df_graffiti` that only contains records where `graffiti_flag` is True. `df_graffiti = df[df.grafitti_flag]`

In [0]:
df_graffiti = df[df.graffiti_flag=='True']
df_graffiti.head()

- **Step 4**. Group your dataframe `df_graffiti` to get the count of requests per `community_board`. Use `.nlargest()` to identify which Community District has the highest count.

In [114]:
df_graffiti_cb=df_graffiti.groupby('community_board').size().reset_index(name='count_of_graffiti_complaints')
df_graffiti_cb.nlargest(1, 'count_of_graffiti_complaints')

  community_board  count_of_graffiti_complaints
2  01 BROOKLYN     1797